/Quicksort.class
/QuickSortWORandom.class
/Mergesort.class
/Insertionsort.class
/SelectionSort.class
/Selectionsort.class
/DecendingComparator.class
/EvenOddComparator.class
/DescendingComparator.class
/CountingSort.class
/InsertionSort.class
/MergeSort.class
/QuickSort.class
